body{
  background-color:white;
}

.App{
  background-color: wheat;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
h1{
  align-items: center;
  font-size: x-large;
  text-align: center;
}
#to-do-form input{
  background-color: azure;
  border: 0px;
  width: 300px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: brown;

}

#to-do-form input:placeholder{
  color: rgba(255, 255,255, 0.5);
}

#to-do-form input:focus, #to-do-form button:focus{
  outline: none;
}

#to-do-form button{
  height: 50px;
  width: 300px;
  text-align: center;
  padding: 0 20px;
  margin: 20px;
  border-radius: 5px;
  background: 0;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: bolder;
}